
.content-links {
    
}
.logo {
    margin-left: 55px;
    font-size: larger;
}

.links span{
    display: block;
}

.profile-pic {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    margin-top: 5px;
}

.top-hr {
    margin-top: 20px;
}

.listing li{
    margin-left: 25px;
    margin-top: 5px;
}
li {
    list-style-type: disc;
}